@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
header{
    height: 715px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(360.00deg, rgb(17, 17, 17),rgba(37, 37, 37, 0.906) 100%);
}
#main-title{
    color: rgb(230, 83, 60);
    font-style: italic;
    margin-top: 58.5px;
    font-size: 36px;
}
nav{
    width: 1044px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    display: flex;
    margin-top: 58.5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
ul > li{
    list-style: none;
    font-size: 18px;
    color: white;
    padding: 8px 20px;
    border-radius: 39px;
    margin: 2px;
}
ul > li:first-child{
    background-color: rgb(230, 83, 60);
    font-weight: 600;
}
#hero{
    height: 580px;
    width: 1044px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero-right{
    width: 50%;
}
#hero-right > h2{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
#hero-right-title{
    font-size: 78px;
    color: white;
    font-weight: 900;
    margin-bottom: 28px;
}
#hero-right  button{
    border-radius: 42px;
    padding: 16px 40px;
    color: white;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid white;
    margin-right: 5px;
}
#hero-right #orange{
    border: none;
    background: rgb(230, 83, 60);
}
#hero-left{
    position: relative;
    display: flex;
    margin-top: 65px;
}
#hero-left > img{
}
#float-container{
    display: flex;
    position: absolute;
}
.float{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 17px 24px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.float-1{
    margin-left: -40px;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}.float-1 > div{
    width: 100px;
}
.float-2{
    margin-left: 200px;
    margin-top: 100px;
    
}
.float-2 > h3{
    width: 150px;
}
#orange-circle{
    background: rgb(230, 83, 60);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* second section */
main{
    background-color: rgb(17, 17, 17);
}
#second-section{
    width: 1044px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
#second-section > h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
#second-section > h2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    width: 671px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 58px;
    padding: 0px 30px;
}
#second-section > div{
    display: flex;
    width: 1044px;
    justify-content: space-between;
    align-items: center;
}
#second-section > div > div{
    text-align: center;
}
#second-section > div  img{
    border-radius: 50%;
    margin-bottom: 26px;
}
#second-section > div h2{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}
#second-section > div h3{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 100px;
}

/* Third section */
#third-section{
    width: 1044px;
    height: 371px;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#third-section h1{
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
}
#third-section h3{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}
#third-section button{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 48px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
}
#third-section #img{
    border-radius: 18px;
    width: 366px;
    height: 312px;
    overflow: hidden;
    margin-right: 30px;
}
#third-section #img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.2) translateX(-70px) translateY(40px);
}
/* fourth section */
#fourth-section{
    width: 671px;
    margin-right: auto;
    margin-left: auto;
    padding: 88px 0px;
}
#fourth-section h1{
    font-size: 48px;
    font-weight: 900;
    color: white;
}
#fourth-section p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
/* fifth section */
#fifth-section{
    background: rgb(34, 34, 34);
    height: 487px;
}
#inside-fifth{
    width: 1044px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
#inside-fifth #one{
    margin-top: 50px;
}
#inside-fifth #one table{
    color: gray;
    margin-top: 52px;
    border-collapse: collapse;
}
#inside-fifth #one table th{
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
    text-align: left;
}
#inside-fifth #one table td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
}
#inside-fifth #two{
    width: 577px;
    margin-top: 50px;
}
#inside-fifth #two p{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin-top: 14px;
}
#inside-fifth #two button{
    font-size: 18px;
    padding: 16px 70px;
    border-radius: 48px;
    color: white;
    background-color: rgb(230, 83, 60);
    margin-top: 14px;
    border: none;
}
#inside-fifth h1{
    font-size: 28px;
    font-weight: 900;
    color: white;
}
#inside-fifth #two form{
    margin-top: 34px;
    margin-bottom: 34px;
    width: 577px;
    font-size: 16px;
    font-weight: 400;
}
#inside-fifth #two form div{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
    margin-bottom: 5px;
}
#inside-fifth #two form div input{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    flex: 1;
}
#gender{
    color: gray;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    width: 50%;
}
#activity{
    color: gray;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    width: 100%;
}